@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url(image/hero_img.jpg);
    background-color: #000106;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    height:100vh;
    align-items: center;
    font-family: "DM Sans", sans-serif;
}

.container{
    display:flex;
    gap:1rem;
}

.left-container{
    background-color: #212936f2;
    padding:25px 20px;
    border: 1px solid #4D5562;
    border-radius: 20px;
    flex-direction: column;
}

.language{
    display:flex;
    gap:1rem;
    color:#4D5562;
    font-size: 0.875rem;
    font-weight: 600;
    align-items: center;
    margin-bottom:10px;
}
.language span {
    padding: 7px; 
    display:flex;
}

.text-area span{
    display:flex;
    align-self:self-end;
    font-size: 0.75rem;
    color:#4D5562;
    margin-bottom:10px;
    margin-left:auto;
    position: relative;
    right:4px;
}

.text-area textarea::placeholder{
    color:#f9fafb5d;
    font-weight: 600;
    font-size: 0.875rem;
    font-family: "DM Sans", sans-serif;
    
}

.left-bottom{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.bottom-image{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
}

.bottom-image img{
    border:2px solid #4D5562;
    border-radius: 10px;
    padding:3px;
}

.translate{
    display:flex;
    flex-direction: column;
    gap:0.5rem;
    justify-content: center;
}

.translate p{
    background: none;
    border:none;
    color:#F9FAFB;
    font-weight: 500;
    padding:10px 20px;
    border-radius: 8px;
    background-color:#3662E3;
    border:1px solid #7CA9F3;
    font-size: 0.875rem;
}

.right-container{
    background-color: #121826f2;
    padding:25px 20px;
    border: 1px solid #4D5562;
    border-radius: 20px;
    flex-direction: column;
}

.top-bar{
    display:flex;
    color:#4D5562;
    font-size: 0.875rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom:10px;
}

.language-right{
    display:flex;
    gap:1rem;
    align-items: center;
    font-weight: 600;
}

.language-right select, .language select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("image/down-arrow.png"); 
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 10%;
    background: none;
    border:none;
    color:#4D5562;
    font-weight: 600;
    width:100px;
}

.language select::-ms-expand {
    display: none; 
}

.language img, .language-right img{
    width:9px;
    height:9px;
    transform: translateX(-60px);
}

.switch-container img{
    border:2px solid #4D5562;
    border-radius: 10px;
    padding:3px;
}

.right-border, .left-border{
    background-color: #4D5562;
    height:1px;
    width:100%;
    display:flex;
}

.text-area-right, .text-area{
    display:flex;
    height:170px;
    width:450px;
}

.text-area-right textarea, .text-area textarea{
    background:none;
    border:none;
    outline:none;
    resize:none;
    width:100%;
    height:100%;
    color:#F9FAFB;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
    overflow: hidden;
    margin-top:10px;
}

.bottom-right{
    display:flex;
    gap:0.5rem;
    transform: translatey(5px);
}

.bottom-right img{
    border:2px solid #4D5562;
    border-radius: 10px;
    padding:3px;
}

#english:hover, #french:hover, #dropdown:hover, #english-right:hover, .translate p:hover, #french-right:hover, #dropdown-right:hover{
    cursor: pointer;
}

.bottom-image img:hover, .bottom-right img:hover, .switch-container img:hover{
    box-shadow: 0 0 10px #4d5562, 0 0 20px #4d5562, 0 0 40px #4d5562, 0 0 80px #4d5562;
    transition: box-shadow 0.5s ease;
    cursor: pointer;
}


#copyMessage, #copyMessageRight{
    color: #F9FAFB;
    font-weight: 500;
    font-family: "DM Sans", sans-serif;
    display:flex;
    align-items: center;
}

#english.active, #french.active, #french-right.active, #english-right.active, #dropdown.active, #dropdown-right.active {
    color: #F9FAFB;
    background-color: #4D5562;
    padding: 10px;
    border-radius: 13px;
}

#english.inactive, #french.inactive, #french-right.inactive, #english-right.inactive, #dropdown.inactive, #dropdown-right.inactive {
    color: #4D5562;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
}

select:focus{
    outline:none;
    transition: outline 0.3s ease;
}

select:focus .placeholder {
    display: none;
}

@media (max-width:768px){
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
        min-width: 300px; 
        overflow: hidden;
        padding-top: 1rem 0;
    }

    .left-container,
    .right-container {
        width: 700px; 
        padding-top:10px;
    }

    .language, .language-right{
        font-size: 0.8rem;
        padding:0;
        font-weight:bold;
    }

    .text-area{
        display:flex;
        height:170px;
        width:708px;
    }

    .text-area-right{
        display:flex;
        height:170px;
        width:660px;
    }

    .text-area textarea::placeholder{
        font-size: 1rem;
    }

    .language{
        gap:0.7rem;
        display:flex;
    }

    .language-right{
        gap:1rem;
    }

    .language span{
        display:flex;
        gap:0.1rem;
    }

    .language select, .language-right select{
        font-size: 0.8rem;
        font-weight:bold;
    }

    .language img{
        width:9px;
        height:9px;
        transform: translateX(-45px);
    }

    .language-right img{
        width:9px;
        height:9px;
        transform: translateX(-55px);
    }

    .right-border, .left-border{
        background-color: #4D5562;
        height:0.1px;
        width:100%;
        display:flex;
    }

    .text-area span{
        position: relative;
        right:55px;
    }
}

@media (max-width:650px){
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
        min-width: 300px; 
        overflow: hidden;
        padding-top: 1rem 0;
    }

    .left-container,
    .right-container {
        width: 600px; 
        padding-top:10px;
    }

    .language, .language-right{
        font-size: 0.8rem;
        padding:0;
        font-weight:bold;
    }

    .text-area{
        display:flex;
        height:170px;
        width:610px;
    }

    .text-area-right{
        display:flex;
        height:170px;
        width:563px;
    }

    .text-area textarea::placeholder{
        font-size: 1rem;
    }

    .language{
        gap:0.7rem;
        display:flex;
    }

    .language-right{
        gap:1rem;
    }

    .language span{
        display:flex;
        gap:0.1rem;
    }

    .language select, .language-right select{
        font-size: 0.8rem;
        font-weight:bold;
    }

    .language img{
        width:9px;
        height:9px;
        transform: translateX(-45px);
    }

    .language-right img{
        width:9px;
        height:9px;
        transform: translateX(-55px);
    }

    .right-border, .left-border{
        background-color: #4D5562;
        height:0.1px;
        width:100%;
        display:flex;
    }

    .text-area span{
        position: relative;
        right:55px;
    }
}

@media (max-width: 426px) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
        min-width: 300px; 
        overflow: hidden;
        padding-top: 1rem 0;
    }

    .left-container,
    .right-container {
        width: 400px; 
        padding-top:10px;
    }

    .language, .language-right{
        font-size: 0.8rem;
        padding:0;
        font-weight:bold;
    }

    .text-area{
        display:flex;
        height:170px;
        width:410px;
    }

    .text-area-right{
        display:flex;
        height:170px;
        width:360px;
    }

    .text-area textarea::placeholder{
        font-size: 1rem;
    }

    .language{
        gap:0.7rem;
        display:flex;
    }

    .language-right{
        gap:1rem;
    }

    .language span{
        display:flex;
        gap:0.1rem;
    }

    .language select, .language-right select{
        font-size: 0.8rem;
        font-weight:bold;
    }

    .language img{
        width:9px;
        height:9px;
        transform: translateX(-45px);
    }

    .language-right img{
        width:9px;
        height:9px;
        transform: translateX(-55px);
    }

    .right-border, .left-border{
        background-color: #4D5562;
        height:0.1px;
        width:100%;
        display:flex;
    }

    .text-area span{
        position: relative;
        right:55px;
    }
}

@media(max-width:376px){
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
        min-width: 300px; 
        overflow: hidden;
        padding-top: 1rem 0;
    }

    .left-container,
    .right-container {
        width: 350px; 
        padding-top:10px;
    }

    .language, .language-right{
        font-size: 0.625rem;
        padding:0;
        font-weight:bold;
    }

    .text-area{
        display:flex;
        height:170px;
        width:360px;
    }

    .text-area-right{
        display:flex;
        height:170px;
        width:313px;
    }

    .text-area textarea::placeholder{
        font-size:0.8rem;
    }

    .language{
        gap:0.5rem;
        display:flex;
    }

    .language-right{
        gap:1rem;
    }

    .language span{
        display:flex;
        gap:0.1rem;
    }

    .language select, .language-right select{
        font-size: 0.625rem;
        font-weight:bold;
    }

    .language img{
        width:9px;
        height:9px;
        transform: translateX(-55px);
    }

    .language-right img{
        width:9px;
        height:9px;
        transform: translateX(-65px);
    }

    .right-border, .left-border{
        background-color: #4D5562;
        height:0.1px;
        width:100%;
        display:flex;
    }

    .text-area span{
        position: relative;
        right:55px;
    }
}

@media(max-width:320px){
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
        min-width: 200px; 
        overflow: hidden;
        padding-top: 1rem 0;
    }

    .left-container,
    .right-container {
        width: 310px; 
        padding-top:10px;
    }

    .language, .language-right{
        font-size: 0.550rem;
        padding:0;
        font-weight:bold;
    }

    .text-area{
        display:flex;
        height:170px;
        width:305px;
    }

    .text-area-right{
        display:flex;
        height:170px;
        width:267px;
    }

    .text-area textarea::placeholder{
        font-size: 0.7rem;
    }

    .language{
        gap:0.1rem;
    }

    .language-right{
        gap:0.7rem;
    }

    .language span{
        display:flex;
        gap:0.1rem;
    }

    .language select, .language-right select{
        font-size: 0.550rem;
        font-weight:bold;
    }

    .language img{
        width:7px;
        height:7px;
        transform: translateX(-45px);
    }

    .language-right img{
        width:7px;
        height:7px;
        transform: translateX(-70px);
    }

    .text-area span{
        position: relative;
        right:45px;
    }
}